<div class="wrapper col-md-20">
    
    <div class="wrapped-div ">
        
      <div class="tab-header">
        <h2 routerLink='/user/login' routerLinkActive='active'>Sign In</h2>
        <h2 routerLink='/user/manager-registration' routerLinkActive='active'>Sign up</h2>
        <h2 routerLink='/user/statistics' routerLinkActive='active'>Statistics <i class="fas fa-chart-bar"></i></h2>

        <hr>
      </div>
      <div class="row mt-8">
          
        <div class="col-md-10 offset-md-1">
          <router-outlet></router-outlet>
         
        </div>
      </div>
    </div>
  </div>